.gardient1() {
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(49%,#e7e7ea), color-stop(50%,#cdd2d6), color-stop(100%,#e2e3e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e7e7ea 49%,#cdd2d6 50%,#e2e3e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f3f3f3 0%,#e7e7ea 49%,#cdd2d6 50%,#e2e3e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f3f3f3 0%,#e7e7ea 49%,#cdd2d6 50%,#e2e3e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f3f3f3 0%,#e7e7ea 49%,#cdd2d6 50%,#e2e3e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e3e6',GradientType=0 ); /* IE6-9 */
}

.gardient2() {
  background: #7cc750; /* Old browsers */
  background: -moz-linear-gradient(top,  #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc750), color-stop(49%,#7cc750), color-stop(50%,#5eb32d), color-stop(100%,#7ac64e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7cc750 0%,#7cc750 49%,#5eb32d 50%,#7ac64e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7cc750 0%,#7cc750 49%,#5eb32d 50%,#7ac64e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7cc750 0%,#7cc750 49%,#5eb32d 50%,#7ac64e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7cc750 0%,#7cc750 49%,#5eb32d 50%,#7ac64e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc750', endColorstr='#7ac64e',GradientType=0 ); /* IE6-9 */
}