/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.main 
  %h2 
    %span Регистрация фирм
  %ul.tabs 
    %li 
      %a.active{:href => ""} 
        %span ООО
    %li 
      %a{:href => ""} 
        %span ОАО/ЗАО
    %li 
      %a{:href => ""} 
        %span ИП
    %li 
      %a{:href => ""} 
        %span МФО
  .steps 
    .step 
      .title шаг 1
      %img{:src => "i/im1.png", :alt => ""}
      %h4 Заявка на сайте
      %p Вы получите бесплатную консультацию юриста.
      %p У меня нет юр. адреса, заказать.
    .str_step
    .step 
      .title шаг 2
      %img{:src => "i/im2.png", :alt => ""} 
      %h4 Подписывание документов и заверение у нотариуса.
      %p (Мы сами отвезём в налоговую по Вашей доверенности).
      %p При себе иметь ПАСПОРТ.
    .str_step
    .step 
      .title шаг 3
      %img{:src => "i/im3.png", :alt => ""} 
      %h4 Получение документов 
      %p в комплекте с печатью, кодами статистики и документами для открытия расчетного счёта
      .hd
        %p.green 
          %a.hidden_show{:href => ""} подробнее
          &darr;
        .hidden_text.hide
          %h4 После регистрации вы получите:
          %p • свидетельство о государственной регистрации
          %p • свидетельство о постановке на учет
          %p • устав
          %p • выписка из ЕГРЮЛ решение / протокол о создании
          %p • приказ о назначении Генерального директора
          %p • приказ о назначении Главного бухгалтера
          %p • акт оценки имущества, вносимого в уставный капитал
          %p • акт приема-передачи имущества на баланс
          %p • информационное письмо кодов статистики
          %p • список участников
          %p • договор аренды (при покупке юридического адреса)
          %p • печать на обычной оснастке
          %p.green 
            %a.hidden_hide{:href => ""} свернуть
    .clear

  %h3 
    Регистрация ООО 
    %br 
    всего за 
    %big 6999 
    рублей!

  %h4.main 
    Оставьте заявку сейчас и уже через 
    %strong 10 дней 
    ваша компания будет зарегистрирована!

  .send_line
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 

  .index_data
    .left 
      .info_table
        %h5 Дополнительные расходы:
        %dl 
          %dt гос. пошлина
          %dd 
            %strong 4 000 
            руб.
        %dl 
          %dt нотариальные расходы
          %dd 
            %strong 800–1200
            руб.
        %dl 
          %dt нотариальные расходы (электронная подача документов)
          %dd 
            %strong 2300–3300 
            руб.
        %h5 Услуги по желанию клиента:
        %p Отметьте галочкой интересующие Вас услуги
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Печать на автоматической оснастке
          %dd 
            %strong 900
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Внесение в реестр субъектов малого предпринимательства
          %dd 
            %strong 1500
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Юридические адреса
          %dd 
            %strong 9000
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Почтово-секретарское обслуживание
          %dd 
            %strong 600
            руб.
    .right 
      .info_block 
        .str 
        %h5 Преимущества ООО:
        %p • Относительно просто зарегистрировать и ликвидировать
        %p • Просто внести изменения или продать долю
        %p • Минимальный размер уставного капитала всего 10 000 рублей
        %p • Учредители ООО не отвечают по его обязательствам и несут риск в пределах своей доли уставного капитала
    .clear

  .send_line.without_bg
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}

.overlay#overlay1.hiden
  .form.std_form
    %a.close{:href => ""} 
    %h4 Заявка
    %h5 на регистрацию фирмы
    .field
      %input{:type => "text", :placeholder => "Ваше имя *"} 
    .field
      %input{:type => "text", :placeholder => "Телефон *"} 
    .field
      %input{:type => "text", :placeholder => "E-mail"} 
    .field
      %textarea{:placeholder => "Комментарий"}
    %p * Обязательно к заполнению 
    .field 
      %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'