/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 
  %h2 
    %span Внесение изменений
  %ul.tabs 
    %li 
      %a.active{:href => ""} 
        %span Изменение размера УК
    %li 
      %a{:href => ""} 
        %span Смена ген.директора
    %li 
      %a{:href => ""} 
        %span Смена учредителей
    %li 
      %a{:href => ""} 
        %span Смена юр.адреса
    %li 
      %a{:href => ""} 
        %span Смена наименования
    %li 
      %a{:href => ""} 
        %span Смена видов деятельности

  .steps 
    .step 
      .title шаг 1
      %img{:src => "i/im1.png", :alt => ""}
      %h4 Заявка на сайте
      %p Вы получите бесплатную консультацию юриста.
    .str_step
    .step 
      .title шаг 2
      %img{:src => "i/im2.png", :alt => ""} 
      %h4 Подписывание документов
      %p Подписанные документы заверяются у нотариуса и подаются в налоговую.
    .str_step
    .step 
      .title шаг 3
      %img{:src => "i/im3.png", :alt => ""} 
      %h4 Получение документов
      %p
        %span.green Вы получите:
        %br 
        • лист записи о внесении изменений 
        %br
        • выписку из ЕГРЮЛ 
        %br
        • решение / протокол о смене Ген.директора 
        %br
        • приказ о назначении Генерального директора

    .clear

  %h3 
    Изменение размера уставного капитала

  .info_table.center
    %dl 
      %dt 
        %input{:type => "checkbox"} 
        Увеличение уставного капитала (10-15 дней)
      %dd 
        %strong 15 000 
        руб.
    %dl 
      %dt 
        %input{:type => "checkbox"} 
        Уменьшение уставного капитала (2-3 месяца)
      %dd 
        %strong 25 000
        руб.

  .send_line
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 

  .index_data
    .left 
      .info_table
        %h5 Дополнительные расходы:
        %dl 
          %dt гос. пошлина (Устав)
          %dd 
            %strong 4 000
            руб.
        %dl 
          %dt нотариальные расходы
          %dd 
            %strong 1000–1500
            руб.
        %dl 
          %dt нотариальные расходы (электронная подача документов)
          %dd 
            %strong 2500–3500 
            руб.
        %h5 Услуги по желанию клиента:
        %p Отметьте галочкой интересующие Вас услуги
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Выписка из ЕГРЮЛ
          %dd 
            %strong 1500
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Проверка сотрудников на судимость
          %dd 
            %strong 3000
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Открытие расчетного счета в банке
          %dd 
            %strong 5000 - 10000
            руб.
    .right 
      .info_block 
        .str 
        %h5 От заказчика потребуются:
        %p • свидетельство о государственной регистрации
        %p • свидетельство о постановке на учёт  
        %p • устав (последняя редакция) 
        %p • выписка из ЕГРЮЛ (не старше 30 дней) 
        %p • решение / протокол (последний) 
        %p • копия паспорта Ген.директора 
        %p • номер ИНН Ген.директора  
        %p • справка из Банка (оригинал)
    .clear

  .send_line.without_bg
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}

.overlay#overlay1.hiden
  .form.std_form
    %a.close{:href => ""} 
    %h4 Заявка
    %h5 на регистрацию фирмы
    .field
      %input{:type => "text", :placeholder => "Ваше имя *"} 
    .field
      %input{:type => "text", :placeholder => "Телефон *"} 
    .field
      %input{:type => "text", :placeholder => "E-mail"} 
    .field
      %textarea{:placeholder => "Комментарий"}
    %p * Обязательно к заполнению 
    .field 
      %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'