/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-light-webfont.eot');
  src: url('fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-light-webfont.woff') format('woff'), url('fonts/pfagorasanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-lightital-webfont.eot');
  src: url('fonts/pfagorasanspro-lightital-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-lightital-webfont.woff') format('woff'), url('fonts/pfagorasanspro-lightital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-reg-webfont.eot');
  src: url('fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-reg-webfont.woff') format('woff'), url('fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-italic-webfont.eot');
  src: url('fonts/pfagorasanspro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-italic-webfont.woff') format('woff'), url('fonts/pfagorasanspro-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
/*! jQuery UI - v1.10.3 - 2013-11-13
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.slider.css
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ui-front {
  z-index: 100;
}
.ui-state-disabled {
  cursor: default !important;
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-horizontal {
  height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.ui-slider .ui-slider-handle {
  width: 12px;
  height: 18px;
  background: url(i/slider.png) 0 0 no-repeat;
  cursor: pointer;
  margin-left: -5px;
}
.ui-slider .ui-slider-range {
  background: url(i/slider_active.png) 0 0 repeat-x;
}
/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  Pf_agora_sans_pro
  Pf_agora_sans_prolight
  Arial
  Philosopher

*/
body {
  background: url(i/bg.jpg) repeat;
  font: 12px/1.3 'Pf_agora_sans_pro';
  color: #292929;
}
body .wrapper {
  width: 1115px;
  margin: 0 auto;
}
body .phone {
  float: right;
  text-align: right;
  margin: 35px 60px 0 0;
}
body .phone big {
  font: 36px/36px 'Philosopher';
  color: #232320;
}
body .phone big small {
  font-size: 30px;
}
body .phone a {
  color: #31711d;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
  border-bottom: 1px dotted #31711d;
}
body .phone a:hover {
  border: none;
}
body .phone img {
  margin-right: 4px;
}
body .wrap_slider_documents {
  margin: 0 auto;
  width: 601px;
  height: 40px;
  background: url(i/slider_documents.png) 0 0 no-repeat;
  padding: 0 45px 0 11px;
  position: relative;
}
body .wrap_slider_documents .slider {
  position: absolute;
  bottom: 0;
  width: 601px;
}
body .wrap_slider_peoples {
  margin: 0 auto;
  width: 593px;
  height: 40px;
  padding: 0 9px 0 3px;
  position: relative;
  background: url(i/slider_peoples.png) 0 0 no-repeat;
}
body .wrap_slider_peoples .slider {
  position: absolute;
  bottom: 0;
  width: 593px;
}
body .wrap_count_documents,
body .wrap_count_peoples {
  font: italic 20px 'Trebuchet MS';
  margin: 10px 0 40px;
  color: #4d9325;
  text-align: center;
}
.std_form input[type="text"],
.std_form textarea {
  border: 1px solid #b1baae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f8f8f6;
  color: #000;
  font: italic 14px/18px 'Pf_agora_sans_prolight';
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6.5px 8px;
  width: 100%;
  margin: 0 0 4px;
}
.std_form input[type="text"].inline,
.std_form textarea.inline {
  width: 80px;
}
.std_form input[type="image"] {
  width: 256px;
  display: block;
  margin: 0 auto;
}
.std_form input.error {
  border-color: #900;
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(200, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(200, 0, 0, 0.3);
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(200, 0, 0, 0.3);
}
.std_form label.error {
  display: none !important;
}
.std_form a.btn {
  display: inline-block;
  background: #cdc7cc;
  color: #000;
  width: 193px;
  padding: 1px;
  font: 20px/44px 'Trebuchet MS';
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  margin: 0px 4px;
}
.std_form a.btn span {
  border: 1px solid #fff;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f3f3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(49%, #e7e7ea), color-stop(50%, #cdd2d6), color-stop(100%, #e2e3e6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e2e3e6', GradientType=0);
  /* IE6-9 */

  text-align: center;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
.std_form a.btn.active,
.std_form a.btn:hover {
  background: #5eb42d;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
}
.std_form a.btn.active span,
.std_form a.btn:hover span {
  border: none;
  background: #7cc750;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cc750), color-stop(49%, #7cc750), color-stop(50%, #5eb32d), color-stop(100%, #7ac64e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cc750', endColorstr='#7ac64e', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8000;
}
.overlay.hiden {
  display: none;
}
.overlay .form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  padding: 30px 50px 10px;
  -webkit-box-shadow: 0px 0px 87px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 87px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 87px rgba(0, 0, 0, 0.7);
}
.overlay .form a.close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 25px;
  right: 25px;
  background: url(i/del.png) no-repeat;
}
.overlay .form h4 {
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
.overlay .form h5 {
  color: #000;
  font-family: 'Pf_agora_sans_prolight';
  font-size: 27px;
  line-height: 27px;
  margin: 0 0 10px;
}
.overlay .form p {
  font: italic 14px/18px 'Pf_agora_sans_prolight';
  color: #000;
  margin: 0 0 10px;
  padding: 0 0 0 8px;
}
footer {
  background: url(i/line.png) repeat-x;
  padding: 30px 0;
  margin: 40px 0 0 0;
}
footer .copyright {
  float: left;
}
footer .counter {
  float: right;
  padding: 10px 0 0 0;
}
header a.logo {
  float: left;
  margin: 35px 0 20px 90px;
  text-decoration: none;
  color: #292929;
}
header a.logo p {
  text-align: center;
}
header .email {
  float: right;
  padding: 53px 70px 0 0;
}
header .email a {
  color: #444;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
}
header .email a:hover {
  text-decoration: none;
}
header .menu {
  height: 98px;
  position: relative;
  background: url(i/head.jpg) no-repeat;
  padding: 273px 0 0 0;
}
header .menu .bg {
  position: absolute;
  left: 0;
  top: 0;
}
header .menu h1 {
  top: 185px;
  left: 75px;
  position: absolute;
  font-size: 48px;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  padding: 0 25px 12px;
  background: rgba(11, 32, 48, 0.54);
}
header .menu ul {
  font-family: 'Philosopher';
  font-style: italic;
  background: rgba(235, 235, 235, 0.9);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  margin-left: 75px;
  width: 963px;
  overflow: hidden;
}
header .menu ul li {
  float: left;
  width: 120px;
  font-size: 15px;
  line-height: 14px;
  height: 76px;
  position: relative;
  background: url(i/separator.png) no-repeat right center;
}
header .menu ul li:last-child {
  background: none;
}
header .menu ul li i {
  display: none;
  width: 25px;
  height: 13px;
  background: url(i/str.png);
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -12.5px;
}
header .menu ul li a {
  height: 76px;
  text-decoration: none;
  color: #212a37;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px 15px 0 13px;
}
header .menu ul li a:hover,
header .menu ul li a.active {
  color: #317a1b;
}
section.main {
  background: url(i/shadow.png) top center no-repeat;
  padding: 50px 0 0 0;
}
section.main h2 {
  background: url(i/line.png) left center repeat-x;
  color: #000;
  font: 36px 'Philosopher';
  text-align: center;
  margin: 0 80px 20px;
}
section.main h2 span {
  background: url(i/bg.jpg) repeat;
  padding: 0 50px;
}
section.main ul.tabs {
  text-align: center;
  margin: 0 120px 60px;
}
section.main ul.tabs li {
  display: inline-block;
}
section.main ul.tabs li a {
  font-family: 'Pf_agora_sans_prolight';
  color: #317a1b;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 8px;
  margin: 0px 3px;
}
section.main ul.tabs li a span {
  border-bottom: 1px dotted #317a1b;
}
section.main ul.tabs li a.active {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #000;
  background: #fff;
}
section.main ul.tabs li a.active span {
  border-bottom: none;
}
section.main .steps .step {
  margin-bottom: 40px;
  width: 230px;
  float: left;
  min-height: 100px;
}
section.main .steps .step:first-child {
  margin-left: 30px;
}
section.main .steps .step img {
  margin: 0 0 5px -11px;
}
section.main .steps .step .hidden_text {
  background: url(i/hidden_bg.png) no-repeat bottom center;
  width: 196px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  padding: 0px 23px 13px;
  margin: 0 0 0 -23px;
}
section.main .steps .step .hidden_text.hide {
  display: none;
}
section.main .steps .step .hd {
  position: relative;
}
section.main .steps .step a {
  color: #317a1b;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dotted #317a1b;
}
section.main .steps .step .title {
  font: italic 24px/40px 'Philosopher';
  margin: 0 0 0 20px;
}
section.main .steps .step .green {
  color: #317a1b;
}
section.main .steps .step p {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px;
}
section.main .steps .step h4 {
  font-family: 'Pf_agora_sans_prolight';
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 18px;
}
section.main .steps .str_step {
  width: 68px;
  height: 25px;
  float: left;
  background: url(i/str1.png) no-repeat;
  margin: 120px 70px 0 55px;
}
section.main h4.main {
  font-family: 'Pf_agora_sans_prolight';
  font-size: 18px;
  color: #8c8c8c;
  text-align: center;
  margin: 0 0 30px;
}
section.main h4.main strong {
  font-weight: bold;
}
section.main h3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Pf_agora_sans_prolight';
}
section.main h3 big {
  font-size: 55px;
  font-family: 'Pf_agora_sans_pro';
  font-weight: bold;
}
section.main .send_line {
  height: 49px;
  background: url(i/line.png) repeat-x left center;
  text-align: center;
  margin-bottom: 50px;
}
section.main .send_line.without_bg {
  background: none;
  margin-bottom: 0;
}
section.main .send_line a {
  display: inline-block;
  padding: 0 2px;
  background: url(i/bg.jpg) repeat;
}
section.main .index_data .left {
  float: left;
  width: 475px;
  margin-bottom: 30px;
}
section.main .index_data .right {
  float: right;
  width: 429px;
  margin: 0 68px 30px 0;
}
section.main .info_table h5 {
  font: 24px/30px 'Philosopher';
  margin-top: 30px;
}
section.main .info_table h5:first-child {
  margin-top: 0;
}
section.main .info_table p {
  font: italic 14px/18px 'Pf_agora_sans_pro';
  margin-bottom: 10px;
}
section.main .info_table input[type="checkbox"] {
  margin: 0;
  padding: 0;
  vertical-align: 1px;
}
section.main .info_table dl {
  overflow: hidden;
  border-bottom: 1px dashed #cccccc;
  font-family: 'Pf_agora_sans_prolight';
  line-height: 23px;
  font-size: 14px;
}
section.main .info_table dl.cp,
section.main .info_table dl input[type="checkbox"] {
  cursor: pointer;
}
section.main .info_table dl strong {
  font-weight: bold;
  font-family: 'Pf_agora_sans_pro';
}
section.main .info_table dl dt {
  float: left;
}
section.main .info_table dl dd {
  float: right;
}
section.main .info_table.center {
  width: 480px;
  margin: 20px auto;
}
section.main .info_block {
  width: 364px;
  height: auto;
  background: url(i/info_bg.png) top left no-repeat;
  margin: 20px 0 0 0;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  padding: 40px 35px 30px 30px;
  position: relative;
}
section.main .info_block h5 {
  font: 23px 'Philosopher';
  color: #265a17;
  margin-bottom: 10px;
}
section.main .info_block p {
  font: 15px/16px 'Pf_agora_sans_prolight';
  margin-bottom: 10px;
}
section.main .info_block .str {
  position: absolute;
  top: -14px;
  right: 35px;
  width: 87px;
  height: 87px;
  background: url(i/str2.png) no-repeat;
}
section.main .calculator h4,
section.main .calculator h5 {
  text-align: center;
}
section.main .calculator h4 {
  font: italic 30px/34px 'Pf_agora_sans_prolight';
  color: #31731d;
  margin-bottom: 20px;
}
section.main .calculator h5 {
  font: 20px/24px 'Trebuchet MS';
  color: #000;
  margin-bottom: 6px;
}
section.main .calculator .price {
  text-align: center;
  padding: 10px 0;
  margin: 0 0 20px;
  font: 18px/24px 'Trebuchet MS';
}
section.main .calculator .price big {
  font-size: 36px;
  color: #61a13c;
}
section.main .calculator .btns {
  text-align: center;
  margin: 0 0 40px;
}
section.main .calculator .btns a {
  display: inline-block;
  background: #cdc7cc;
  color: #000;
  width: 193px;
  padding: 1px;
  font: 20px/44px 'Trebuchet MS';
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  margin: 0px 4px;
}
section.main .calculator .btns a span {
  border: 1px solid #fff;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f3f3;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(49%, #e7e7ea), color-stop(50%, #cdd2d6), color-stop(100%, #e2e3e6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f3f3f3 0%, #e7e7ea 49%, #cdd2d6 50%, #e2e3e6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e2e3e6', GradientType=0);
  /* IE6-9 */

  text-align: center;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
section.main .calculator .btns a.active,
section.main .calculator .btns a:hover {
  background: #5eb42d;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
}
section.main .calculator .btns a.active span,
section.main .calculator .btns a:hover span {
  border: none;
  background: #7cc750;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cc750), color-stop(49%, #7cc750), color-stop(50%, #5eb32d), color-stop(100%, #7ac64e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #7cc750 0%, #7cc750 49%, #5eb32d 50%, #7ac64e 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cc750', endColorstr='#7ac64e', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.8);
}
section.main .firms,
section.main .adresses {
  width: 980px;
  margin: 0 auto;
}
section.main .firms h3,
section.main .adresses h3 {
  color: #31701e;
  font: italic 30px/34px 'Pf_agora_sans_prolight';
  margin: 0 0 15px;
}
section.main .firms table,
section.main .adresses table {
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  margin: 0 0 40px;
  width: 100%;
}
section.main .firms table tr,
section.main .adresses table tr {
  cursor: pointer;
}
section.main .firms table tr:nth-child(odd),
section.main .adresses table tr:nth-child(odd) {
  background: #f3f3f3;
}
section.main .firms table td:nth-child(3),
section.main .adresses table td:nth-child(3),
section.main .firms table th:nth-child(3),
section.main .adresses table th:nth-child(3) {
  text-align: center;
}
section.main .firms table td:nth-child(7),
section.main .adresses table td:nth-child(7),
section.main .firms table th:nth-child(7),
section.main .adresses table th:nth-child(7) {
  text-align: center;
}
section.main .firms table td:nth-child(8),
section.main .adresses table td:nth-child(8),
section.main .firms table th:nth-child(8),
section.main .adresses table th:nth-child(8) {
  text-align: center;
  width: 60px;
}
section.main .firms table td,
section.main .adresses table td {
  border: 1px solid #e2e2e2;
  border-width: 0 1px 1px 0;
  font-size: 14px;
  padding: 7px 10px;
  vertical-align: top;
}
section.main .firms table td div,
section.main .adresses table td div {
  min-height: 50px;
}
section.main .firms table td:first-child,
section.main .adresses table td:first-child {
  border-width: 0 1px 1px 1px;
}
section.main .firms table th,
section.main .adresses table th {
  background: #e5e5e5;
  text-align: left;
  border: 1px solid #d5d5d5;
  border-width: 0 1px 0 0;
  font-size: 12px;
  color: #000;
  vertical-align: middle;
  padding: 7px 10px;
}
section.main .firms table th:first-child,
section.main .adresses table th:first-child {
  border-width: 0 1px 0 1px;
}
section.main .stamps h4 {
  color: #31701e;
  font: italic 26px/30px 'Pf_agora_sans_prolight';
  margin: 0 250px 50px;
  text-align: center;
}
section.main .stamps .cols {
  width: 961px;
  margin: 0 auto 50px;
}
section.main .stamps .cols .col {
  width: 400px;
  float: left;
}
section.main .stamps .cols .col:first-child {
  border-right: 1px solid #dbdcdc;
  padding-right: 80px;
}
section.main .stamps .cols .col:nth-child(2) {
  padding-left: 80px;
}
section.main .stamps .cols .col h5 {
  font-size: 26px;
  line-height: 26px;
}
section.main .stamps .cols .col p {
  font: italic 20px/20px 'Pf_agora_sans_prolight';
  margin-bottom: 35px;
}
section.main .stamps .cols .col .stamp {
  clear: both;
  font-size: 18px;
  font-family: 'Pf_agora_sans_prolight';
  margin-bottom: 30px;
}
section.main .stamps .cols .col .stamp .wrap {
  float: left;
  width: 83px;
  text-align: center;
}
section.main .stamps .cols .col .stamp input[type="checkbox"] {
  float: left;
  margin: 6px 0 0 0;
}
section.main .stamps .cols .col .stamp .title {
  margin-left: 125px;
  margin-right: 100px;
}
section.main .stamps .cols .col .stamp .price {
  float: right;
}
section.main .stamps .cols .col .stamp strong {
  font-weight: bold;
  font-family: 'Pf_agora_sans_pro';
}
section.main .copyings {
  width: 920px;
  margin: 0 auto;
}
section.main .copyings .wrap {
  background: #fff;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
}
section.main .copyings .title {
  font-size: 24px;
  color: #1a1a1a;
  margin: 0 0 4px;
}
section.main .copyings .price {
  font: 18px/20px 'Pf_agora_sans_prolight';
  color: #000;
  margin: 0 0 20px;
}
section.main .copyings .price span.green {
  color: #31731d;
  font-weight: bold;
  font-size: 24px;
}
section.main .copyings .field {
  margin: 0 0 10px;
}
section.main .copyings .field:last-child {
  margin: 0;
}
section.main .copyings .field label {
  float: left;
  width: 160px;
  font-family: 'Trebuchet MS';
  font-size: 14px;
  margin: 6px 0 0 0;
}
section.main .copyings .field .input {
  margin-left: 175px;
  margin-right: 260px;
}
section.main .copyings .field .input p {
  font: italic 12px/14px 'Pf_agora_sans_prolight';
  color: #636363;
  margin: 0 0 10px;
}
section.main .copyings .field .input span {
  font-size: 14px;
}
section.main .copyings .field.btn {
  float: right;
}
section.main .copyings .btn img {
  width: 218px;
}
section.main .copyings hr {
  border: none;
  height: 7px;
  background: url(i/line.png) repeat-x;
  margin: 50px;
}
section.main .copyings .copying:last-child {
  margin-bottom: 70px;
}
section.main .sro {
  width: 1010px;
  margin: 0 auto;
}
section.main .sro input[type="radio"] {
  margin: 0;
  vertical-align: 1px;
}
section.main .sro .col {
  width: 248px;
  float: left;
  margin: 0 6px 60px 0;
  padding: 0 0 10px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
section.main .sro .col .title {
  color: #fff;
  margin-bottom: 25px;
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  border-radius: 14px 14px 0 0;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 15px 8px;
}
section.main .sro .col .title.cp {
  cursor: pointer;
}
section.main .sro .col .title input {
  cursor: pointer;
}
section.main .sro .col .label,
section.main .sro .col .price {
  margin: 0px 12px;
  padding: 6px 2px;
  font-size: 18px;
  color: #000;
  border-top: 1px solid #d4d5d5;
}
section.main .sro .col .label:nth-child(2),
section.main .sro .col .price:nth-child(2) {
  border: none;
}
section.main .sro .col .label.sum,
section.main .sro .col .price.sum {
  border-color: #808080;
}
section.main .sro .col .label p,
section.main .sro .col .price p {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Pf_agora_sans_prolight';
}
section.main .sro .col .label {
  text-align: right;
  color: #3e8105;
}
section.main .sro .col:nth-child(1) {
  background: #e9eaea;
}
section.main .sro .col:nth-child(2) .title {
  background-color: #63ac36;
  background-image: -moz-linear-gradient(left, #8ac55b, #63ac36);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8ac55b), to(#63ac36));
  background-image: -webkit-linear-gradient(left, #8ac55b, #63ac36);
  background-image: -o-linear-gradient(left, #8ac55b, #63ac36);
  background-image: linear-gradient(to right, #8ac55b, #63ac36);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac55b', endColorstr='#ff63ac36', GradientType=1);
}
section.main .sro .col:nth-child(3) .title {
  background-color: #3a7e05;
  background-image: -moz-linear-gradient(left, #599a0c, #3a7e05);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#599a0c), to(#3a7e05));
  background-image: -webkit-linear-gradient(left, #599a0c, #3a7e05);
  background-image: -o-linear-gradient(left, #599a0c, #3a7e05);
  background-image: linear-gradient(to right, #599a0c, #3a7e05);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff599a0c', endColorstr='#ff3a7e05', GradientType=1);
}
section.main .sro .col:nth-child(4) {
  margin-right: 0;
}
section.main .sro .col:nth-child(4) .title {
  background-color: #83bc2d;
  background-image: -moz-linear-gradient(left, #a1cc4f, #83bc2d);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#a1cc4f), to(#83bc2d));
  background-image: -webkit-linear-gradient(left, #a1cc4f, #83bc2d);
  background-image: -o-linear-gradient(left, #a1cc4f, #83bc2d);
  background-image: linear-gradient(to right, #a1cc4f, #83bc2d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1cc4f', endColorstr='#ff83bc2d', GradientType=1);
}
section.main .sro .col:not( :nth-child(1)) {
  background: #fff;
  -webkit-box-shadow: 0 13px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 13px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.2);
}
section.main .firms table td:nth-child(2),
section.main .firms table th:nth-child(2) {
  text-align: center;
  width: 50px;
}
section.main .firms table td:nth-child(3),
section.main .firms table th:nth-child(3) {
  text-align: left;
}
section.main .firms table td:nth-child(5),
section.main .firms table th:nth-child(5) {
  text-align: center;
}
section.main .firms table td:nth-child(6),
section.main .firms table th:nth-child(6) {
  text-align: center;
}
section.main .firms table td:nth-child(7),
section.main .firms table th:nth-child(7) {
  text-align: center;
  width: 60px;
}
section.main .firms table td:nth-child(8),
section.main .firms table th:nth-child(8) {
  text-align: left;
  width: auto;
}
section.main .tab_content {
  display: none;
}
section.main .tab_content.active {
  display: block;
}
section.map {
  width: 979px;
  margin: 40px auto 0;
  padding: 75px 0 0 0;
  background: url(i/shadow1.png) top center no-repeat;
}
section.map h3 {
  font-size: 20px;
  font-family: 'Pf_agora_sans_prolight';
}
section.map a {
  color: #444;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
}
section.map a:hover {
  text-decoration: none;
}
section.map p {
  font-family: 'Pf_agora_sans_prolight';
  font-size: 14px;
}
section.map .col {
  float: left;
  width: 33.3%;
  margin-bottom: 30px;
}
section.map .col .phone {
  margin: 0;
}
section.map .green {
  color: #31731d;
  font-size: 14px;
  font-style: italic;
  padding-top: 5px;
}
section.map .map_block .wrap {
  height: 40px;
  overflow: hidden;
}
section.map .map_block img.map {
  width: 100%;
  border-top: 3px solid #8c8c8c;
}
section.map .map_block a.str {
  position: relative;
  z-index: 6000;
  display: block;
  margin: -20px auto 0;
}
section.map .phone big,
section.map .phone small {
  font-size: 30px;
}
