@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";
@import "less/btns.less";
@import "less/jquery-ui-1.10.3.custom.min.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  Pf_agora_sans_pro
  Pf_agora_sans_prolight
  Arial
  Philosopher

*/

body {
  background: url(i/bg.jpg) repeat;
  font: 12px/1.3 'Pf_agora_sans_pro';
  color: #292929;
  .wrapper {
    width: 1115px;
    margin: 0 auto;
  }
  .phone {
    float: right;
    text-align: right;
    margin: 35px 60px 0 0;
    big {
      font: 36px/36px 'Philosopher';
      color: #232320;
      small {font-size: 30px;}
    }
    a {
      color: #31711d;
      text-decoration: none;
      font-size: 14px;
      font-style: italic;
      display: inline-block;
      border-bottom: 1px dotted #31711d;
      &:hover {border: none;}
    }
    img {
      margin-right: 4px;
    }
  }
  .wrap_slider_documents {
    margin: 0 auto;
    width: 601px;
    height: 40px;
    background: url(i/slider_documents.png) 0 0 no-repeat;
    padding: 0 45px 0 11px;
    position: relative;
    .slider {
      position: absolute;
      bottom: 0;
      width: 601px;
    }
  }
  .wrap_slider_peoples {
    margin: 0 auto;
    width: 593px;
    height: 40px;
    padding: 0 9px 0 3px;
    position: relative;
    background: url(i/slider_peoples.png) 0 0 no-repeat;
    .slider {
      position: absolute;
      bottom: 0;
      width: 593px;
    }
  }
  .wrap_count_documents, .wrap_count_peoples {
    font: italic 20px 'Trebuchet MS';
    margin: 10px 0 40px;
    color: #4d9325;
    text-align: center;
    //padding: 0 500px 0 0;
  }
}

.std_form {
  input[type="text"], textarea {
    border: 1px solid #b1baae;
    .border-radius(3px);
    background: #f8f8f6;
    color: #000;
    font: italic 14px/18px 'Pf_agora_sans_prolight';
    .box-shadow(inset 2px 2px 10px rgba(0, 0, 0, 0.1));
    .box-sizing(border-box);
    padding: 6.5px 8px;
    width: 100%;
    margin: 0 0 4px;
    &.inline {width: 80px;}
  }
  input[type="image"] {
    width: 256px;
    display: block;
    margin: 0 auto;
  }
  input.error {
    border-color: #900;
    @sh: inset 2px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(200, 0, 0, 0.3);
    .box-shadow(@sh);
  }
  label.error {display: none !important;}
  a.btn {
    display: inline-block;
    background: #cdc7cc;
    color: #000;
    width: 193px;
    padding: 1px;
    font: 20px/44px 'Trebuchet MS';
    text-decoration: none;
    .border-radius(11px);
    margin: 0px 4px;
    span {
      border: 1px solid #fff;
      display: inline-block;
      width: 100%;
      .box-sizing(border-box);
      .gardient1();
      text-align: center;
      .border-radius(11px);
    }
    &.active, &:hover {
      background: #5eb42d;
      color: #fff;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
      span {
        border: none;
        .gardient2();
        .box-shadow(inset 0px 0px 4px rgba(255, 255, 255, 0.8));
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8000;
  &.hiden {display: none;}
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    .border-radius(35px);
    padding: 30px 50px 10px;
    .box-shadow(0px 0px 87px rgba(0, 0, 0, 0.7));
    a.close {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 25px;
      right: 25px;
      background: url(i/del.png) no-repeat;
    }
    h4 {
      color: #000000;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 36px;
    }
    h5 {
      color: #000;
      font-family: 'Pf_agora_sans_prolight';
      font-size: 27px;
      line-height: 27px;
      margin: 0 0 10px;
    }
    p {
      font: italic 14px/18px 'Pf_agora_sans_prolight';
      color: #000;
      margin: 0 0 10px;
      padding: 0 0 0 8px;
    }
  }
}

footer {
  background: url(i/line.png) repeat-x;
  padding: 30px 0;
  margin: 40px 0 0 0;
  .copyright {
    float: left;
  }
  .counter {
    float: right;
    padding: 10px 0 0 0;
  }
}

header {
  a.logo {
    float: left;
    margin: 35px 0 20px 90px;
    text-decoration: none;
    color: #292929;
    p {text-align: center;}
  }
  .email {
    float: right;
    padding: 53px 70px 0 0;
    a {
      color: #444;
      font-size: 14px;
      font-style: italic;
      display: inline-block;
      &:hover {text-decoration: none;}
    }
  }
  .menu {
    height: 98px;
    position: relative;
    background: url(i/head.jpg) no-repeat;
    padding: 273px 0 0 0;
    .bg {
      position: absolute;
      left: 0;
      top: 0;
    }
    h1 {
      top: 185px;
      left: 75px;
      position: absolute;
      font-size: 48px;
      color: #fff;
      font-family: Arial;
      font-weight: bold;
      padding: 0 25px 12px;
      background: rgba(11, 32, 48, 0.54);
    }
    ul {
      font-family: 'Philosopher';
      font-style: italic;
      background: rgba(235, 235, 235, 0.9);
      .border-radius(20px);
      position: relative;
      margin-left: 75px;
      width: 963px;
      overflow: hidden;
      li {
        float: left;
        width: 120px;
        font-size: 15px;
        line-height: 14px;
        height: 76px;
        position: relative;
        background: url(i/separator.png) no-repeat right center;
        &:last-child {background: none;}
        //&:hover i, &.active i {display: block;}
        i {
          display: none;
          width: 25px;
          height: 13px;
          background: url(i/str.png);
          position: absolute;
          bottom: -13px;
          left: 50%;
          margin-left: -12.5px;
        }
        a {
          height: 76px;
          text-decoration: none;
          color: #212a37;
          display: block;
          .box-sizing(border-box);
          padding: 23px 15px 0 13px;
          &:hover, &.active {
            color: #317a1b;
          }
        }
      }
    }
  }
}

section.main {
  background: url(i/shadow.png) top center no-repeat;
  padding: 50px 0 0 0;
  h2 {
    background: url(i/line.png) left center repeat-x;
    color: #000;
    font: 36px 'Philosopher';
    text-align: center;
    margin: 0 80px 20px;
    span {
      background: url(i/bg.jpg) repeat;
      padding: 0 50px;
    }
  }
  ul.tabs {
    text-align: center;
    margin: 0 120px 60px;
    li {
      display: inline-block;
      a {
        font-family: 'Pf_agora_sans_prolight';
        color: #317a1b;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
        padding: 3px 8px;
        margin: 0px 3px;
        span {
          border-bottom: 1px dotted #317a1b;
        }
        &.active {
          .border-radius(10px);
          .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
          color: #000;
          background: #fff;
          span {border-bottom: none;}
        }
      }
    }
  }
  .steps {
    .step {
      margin-bottom: 40px;
      width: 230px;
      float: left;
      min-height: 100px;
      &:first-child {margin-left: 30px;}
      img {margin: 0 0 5px -11px;}
      .hidden_text {
        background: url(i/hidden_bg.png) no-repeat bottom center;
        width: 196px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5000;
        padding: 0px 23px 13px;
        margin: 0 0 0 -23px;
        &.hide {
          display: none;
        }
      }
      .hd {
        position: relative;
      }
      a {
        color: #317a1b;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px dotted #317a1b;
      }
      .title {
        font: italic 24px/40px 'Philosopher';
        margin: 0 0 0 20px;
      }
      .green {color: #317a1b;}
      p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10px;
      }
      h4 {
        font-family: 'Pf_agora_sans_prolight';
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 18px;
      }
    }
    .str_step {
      width: 68px;
      height: 25px;
      float: left;
      background: url(i/str1.png) no-repeat;
      margin: 120px 70px 0 55px;
    }
  }
  h4.main {
    font-family: 'Pf_agora_sans_prolight';
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    margin: 0 0 30px;
    strong {font-weight: bold;}
  }
  h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Pf_agora_sans_prolight';
    big {
      font-size: 55px;
      font-family: 'Pf_agora_sans_pro';
      font-weight: bold;
    }
  }
  .send_line {
    height: 49px;
    background: url(i/line.png) repeat-x left center;
    text-align: center;
    margin-bottom: 50px;
    &.without_bg {
      background: none;
      margin-bottom: 0;
    }
    a {
      display: inline-block;
      padding: 0 2px;
      background: url(i/bg.jpg) repeat;
    }
  }
  .index_data {
    .left {
      float: left;
      width: 475px;
      margin-bottom: 30px;
    }
    .right {
      float: right;
      width: 429px;
      margin: 0 68px 30px 0;
    }
  }
  .info_table {
    h5 {
      font: 24px/30px 'Philosopher';
      margin-top: 30px;
      &:first-child {margin-top: 0;}
    }
    p {
      font: italic 14px/18px 'Pf_agora_sans_pro';
      margin-bottom: 10px;
    }
    input[type="checkbox"] {
      margin: 0;
      padding: 0;
      vertical-align: 1px;
    }
    dl {
      overflow: hidden;
      border-bottom: 1px dashed #cccccc;
      font-family: 'Pf_agora_sans_prolight';
      line-height: 23px;
      font-size: 14px;
      &.cp, input[type="checkbox"] {cursor: pointer;}
      strong {
        font-weight: bold;
        font-family: 'Pf_agora_sans_pro';
      }
      dt {
        float: left;
      }
      dd {
        float: right;
      }
    }
    &.center {
      width: 480px;
      margin: 20px auto;
    }
  }
  .info_block {
    width: 364px;
    height: auto;
    background: url(i/info_bg.png) top left no-repeat;
    margin: 20px 0 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 40px 35px 30px 30px;
    position: relative;
    h5 {
      font: 23px 'Philosopher';
      color: #265a17;
      margin-bottom: 10px;
    }
    p {
      font: 15px/16px 'Pf_agora_sans_prolight';
      margin-bottom: 10px;
    }
    .str {
      position: absolute;
      top: -14px;
      right: 35px;
      width: 87px;
      height: 87px;
      background: url(i/str2.png) no-repeat;
    }
  }
  .calculator {
    h4, h5 {text-align: center;}
    h4 {
      font: italic 30px/34px 'Pf_agora_sans_prolight';
      color: #31731d;
      margin-bottom: 20px;
    }
    h5 {
      font: 20px/24px 'Trebuchet MS';
      color: #000;
      margin-bottom: 6px;
    }
    .price {
      text-align: center;
      padding: 10px 0;
      margin: 0 0 20px;
      font: 18px/24px 'Trebuchet MS';
      big {font-size: 36px;color: #61a13c;}
    }
    .btns {
      text-align: center;
      margin: 0 0 40px;
      a {
        display: inline-block;
        background: #cdc7cc;
        color: #000;
        width: 193px;
        padding: 1px;
        font: 20px/44px 'Trebuchet MS';
        text-decoration: none;
        .border-radius(11px);
        margin: 0px 4px;
        span {
          border: 1px solid #fff;
          display: inline-block;
          width: 100%;
          .box-sizing(border-box);
          .gardient1();
          text-align: center;
          .border-radius(11px);
        }
        &.active, &:hover {
          background: #5eb42d;
          color: #fff;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
          span {
            border: none;
            .gardient2();
            .box-shadow(inset 0px 0px 4px rgba(255, 255, 255, 0.8));
          }
        }
      }
    }
  }
  .firms, .adresses {
    width: 980px;
    margin: 0 auto;
    h3 {
      color: #31701e;
      font: italic 30px/34px 'Pf_agora_sans_prolight';
      margin: 0 0 15px;
    }
    table {
      .box-shadow(0px 13px 16px rgba(0, 0, 0, 0.2));
      background: #ffffff;
      margin: 0 0 40px;
      width: 100%;
      tr {cursor: pointer;}
      tr:nth-child(odd) {
        background: #f3f3f3;
      }
      td, th {
        &:nth-child(3) {text-align: center;}
        &:nth-child(7) {text-align: center;}
        &:nth-child(8) {text-align: center;width: 60px;}
      }
      td {
        border: 1px solid #e2e2e2;
        border-width: 0 1px 1px 0;
        font-size: 14px;
        padding: 7px 10px;
        vertical-align: top;
        div {min-height: 50px;}
        &:first-child {border-width: 0 1px 1px 1px;}
      }
      th {
        background: #e5e5e5;
        text-align: left;
        border: 1px solid #d5d5d5;
        border-width: 0 1px 0 0;
        font-size: 12px;
        color: #000;
        vertical-align: middle;
        padding: 7px 10px;
        &:first-child {border-width: 0 1px 0 1px;}
      }
    }
  }
  .stamps {
    h4 {
      color: #31701e;
      font: italic 26px/30px 'Pf_agora_sans_prolight';
      margin: 0 250px 50px;
      text-align: center;
    }
    .cols {
      width: 961px;
      margin: 0 auto 50px;
      .col {
        width: 400px;
        float: left;
        &:first-child {border-right: 1px solid #dbdcdc;padding-right: 80px;}
        &:nth-child(2) {padding-left: 80px;}
        h5 {
          font-size: 26px;
          line-height: 26px;
        }
        p {
          font: italic 20px/20px 'Pf_agora_sans_prolight';
          margin-bottom: 35px;
        }
        .stamp {
          clear: both;
          font-size: 18px;
          font-family: 'Pf_agora_sans_prolight';
          margin-bottom: 30px;
          .wrap {float: left;width: 83px;text-align: center;}
          img {}
          input[type="checkbox"] {float: left;margin: 6px 0 0 0;}
          .title {margin-left: 125px;margin-right: 100px;}
          .price {float: right;}
          strong {font-weight: bold;font-family: 'Pf_agora_sans_pro';}
        }
      }
    }
  }
  .copyings {
    width: 920px;
    margin: 0 auto;
    .wrap {
      background: #fff;
      .box-shadow(0px 13px 16px rgba(0, 0, 0, 0.2));
      padding: 20px 40px;
    }
    .title {
      font-size: 24px;
      color: #1a1a1a;
      margin: 0 0 4px;
    }
    .price {
      font: 18px/20px 'Pf_agora_sans_prolight';
      color: #000;
      margin: 0 0 20px;
      span.green {color: #31731d;font-weight: bold;font-size: 24px;}
    }
    .field {
      margin: 0 0 10px;
      &:last-child {margin: 0;}
      label {
        float: left;
        width: 160px;
        font-family: 'Trebuchet MS';
        font-size: 14px;
        margin: 6px 0 0 0;
      }
      .input {
        margin-left: 175px;
        margin-right: 260px;
        p {
          font: italic 12px/14px 'Pf_agora_sans_prolight';
          color: #636363;
          margin: 0 0 10px;
        }
        span {font-size: 14px;}
      }
      &.btn {float: right;}
    }
    .btn img {width: 218px;}
    hr {
      border: none;
      height: 7px;
      background: url(i/line.png) repeat-x;
      margin: 50px;
    }
    .copying:last-child {margin-bottom: 70px;}
  }
  .sro {
    width: 1010px;
    margin: 0 auto;
    input[type="radio"] {
      margin: 0;
      vertical-align: 1px;
    }
    .col {
      width: 248px;
      float: left;
      margin: 0 6px 60px 0;
      padding: 0 0 10px;
      .border-radius(14px);
      .title {
        color: #fff;
        margin-bottom: 25px;
        .border-radius(14px 14px 0 0);
        font-size: 18px;
        line-height: 18px;
        padding: 8px 15px 8px;
        &.cp {cursor: pointer;}
        input {cursor: pointer;}
      }
      .label, .price {
        margin: 0px 12px;
        padding: 6px 2px;
        font-size: 18px;
        color: #000;
        border-top: 1px solid #d4d5d5;
        &:nth-child(2) {border: none;}
        &.sum {border-color: #808080;}
        p {
          font-size: 14px;
          line-height: 18px;
          font-family: 'Pf_agora_sans_prolight';
        }
      }
      .label {text-align: right;color: #3e8105;}
      &:nth-child(1) {
        background: #e9eaea;
      }
      &:nth-child(2) {
        .title {.horizontal_gradient(#8ac55b, #63ac36);}
      }
      &:nth-child(3) {
        .title {.horizontal_gradient(#599a0c, #3a7e05);}
      }
      &:nth-child(4) {
        .title {.horizontal_gradient(#a1cc4f, #83bc2d);}
        margin-right: 0;
      }
      &:not(:nth-child(1)) {
        background: #fff;
        .box-shadow(0 13px 16px rgba(0, 0, 0, 0.2));
      }
    }
  }
  .firms {
    table {
      td, th {
        &:nth-child(2) {text-align: center;width: 50px;}
        &:nth-child(3) {text-align: left;}
        &:nth-child(5) {text-align: center;}
        &:nth-child(6) {text-align: center;}
        &:nth-child(7) {text-align: center;width: 60px;}
        &:nth-child(8) {text-align: left;width: auto;}
      }
    }
  }
  .tab_content {
    display: none;
    &.active {display: block;}
  }
}

section.map {
  width: 979px;
  margin: 40px auto 0;
  padding: 75px 0 0 0;
  background: url(i/shadow1.png) top center no-repeat;
  h3 {
    font-size: 20px;
    font-family: 'Pf_agora_sans_prolight';
  }
  a {
    color: #444;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    &:hover {text-decoration: none;}
  }
  p {
    font-family: 'Pf_agora_sans_prolight';
    font-size: 14px;
  }
  .col {
    float: left;
    width: 33.3%;
    margin-bottom: 30px;
    .phone {margin: 0;}
  }
  .green {
    color: #31731d;
    font-size: 14px;
    font-style: italic;
    padding-top: 5px;
  }
  .map_block {
    .wrap {
      height: 40px;
      overflow: hidden;
    }
    img.map {
      width: 100%;
      border-top: 3px solid #8c8c8c;
    }
    a.str {
      position: relative;
      z-index: 6000;
      display: block;
      margin: -20px auto 0;
    }
  }
  .phone {
    big, small {font-size: 30px;}
  }
}
