/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 

  %h2 
    %span Выписка из ЕГРЮЛ

  .copyings
    .copying
      %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 
        %input{:type => "hidden", :name => "copying", :value => '1'}
        .title Выписка из ЕГРЮЛ, заверенная ИФНС
        .price 
          Стоимость: 
          %span.green 1500 руб.
          + доставка 300 руб.
        .wrap.std_form
          .field.btn 
            %a{:href => ""} 
              %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}
          .field 
            %label Название компании
            .input 
              %input{:type => "text", :name => 'company'} 
          .field 
            %label ИНН или ОГРН
            .input 
              %input{:type => "text", :name => 'inn'} 
              %p Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.
          .field 
            %label Экземпляры
            .input 
              %input.inline{:type => "text", :name => 'ekz'} 
              %span экз. × 1500 р. 
        .overlay#overlay1.hiden
          .form.std_form
            %a.close{:href => ""} 
            %h4 Заявка
            %h5 на выписку из ЕГРЮЛ
            .field
              %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
            .field
              %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
            .field
              %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
            .field
              %textarea{:placeholder => "Комментарий", :name => 'comment'}
            %p * Обязательно к заполнению 
            .field 
              %input{:type => "image", :src => "i/button1.png"}
    %hr 
    .copying
      %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 
        %input{:type => "hidden", :name => "copying", :value => '1'}
        .title Электронная выписка за 1 час
        .price 
          Стоимость: 
          %span.green 300 руб.
        .wrap.std_form
          .field.btn 
            %a{:href => ""} 
              %img.open_overlay{:src => "i/button1.png", :oid => '#overlay2'}
          .field 
            %label Название компании
            .input 
              %input{:type => "text", :name => 'company'} 
          .field 
            %label ИНН или ОГРН
            .input 
              %input{:type => "text", :name => 'inn'} 
              %p Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.
        .overlay#overlay2.hiden
          .form.std_form
            %a.close{:href => ""} 
            %h4 Заявка
            %h5 на выписку из ЕГРЮЛ
            .field
              %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
            .field
              %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
            .field
              %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
            .field
              %textarea{:placeholder => "Комментарий", :name => 'comment'}
            %p * Обязательно к заполнению 
            .field 
              %input{:type => "image", :src => "i/button1.png"}


/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'