/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.main 

  %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 

    %input{:type => "hidden", :name => "pstamps", :value => '1'}

    %h2 
      %span Печати и штампы

    .stamps 
      %h4 Профессиональное изготовление печатей и штампов методом лазерной гравировки по резине
      .cols 
        .col 
          %h5 Изготовление новой печати
          %p Срок изготовления - 1 день
          .stamp
            .wrap 
              %img{:src => "i/stamp1.png"} 
            %input{:type => "checkbox", :name => 'stamps["Новая печать с ручной оснасткой"]'} 
            .price  
              %strong 500 
              руб.
            .title Новая печать с ручной оснасткой
          .stamp
            .wrap 
              %img{:src => "i/stamp2.png"} 
            %input{:type => "checkbox", :name => 'stamps["Новая печать с автоматической оснасткой"]'} 
            .price 
              %strong 1000 
              руб.
            .title Новая печать с автоматической оснасткой
        .col 
          %h5 Изготовление печати по оттиску
          %p Срок изготовления - 1 день
          .stamp
            .wrap 
              %img{:src => "i/stamp1.png"} 
            %input{:type => "checkbox", :name => 'stamps["Печать по оттиску с ручной оснасткой"]'} 
            .price 
              %strong 1000 
              руб.
            .title Печать по оттиску с ручной оснасткой
          .stamp
            .wrap 
              %img{:src => "i/stamp2.png"} 
            %input{:type => "checkbox", :name => 'stamps["Печать по оттиску с автоматической оснасткой"]'} 
            .price 
              %strong 1500
              руб.
            .title Печать по оттиску с автоматической оснасткой
        .clear

    .send_line
      %a{:href => ""} 
        %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 

    .overlay#overlay1.hiden
      .form.std_form
        %a.close{:href => ""} 
        %h4 Заявка
        %h5 на регистрацию фирмы
        .field
          %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
        .field
          %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
        .field
          %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
        .field
          %textarea{:placeholder => "Комментарий", :name => 'comment'}
        %p * Обязательно к заполнению 
        .field 
          %input{:type => "image", :src => "i/button1.png"}

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'