/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 

  %form#buh_page{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 

    %input{:type => "hidden", :name => "buh", :value => '1'} 

    %h2 
      %span Бухгалтерские услуги
    
    .calculator
      %h4 Калькулятор стоимости бухгалтерского обслуживания
      %h5 Ваша система налогообложения:
      .btns
        %input{:type => "hidden", :name => "sustem", :value => 'Общая'} 
        %a.active{:href => ""} 
          %span Общая
        %a{:href => ""} 
          %span Упрощенная 15%
        %a{:href => ""} 
          %span Упрощенная 6%
      %h5 Количество документов в квартал:
      .wrap_slider_documents
        .slider.slider_documents
      .wrap_count_documents
        до 
        %span.count_documents 300 
        документов
      %input{:type => "hidden", :name => "count_documents"} 
      %h5 Количество сотрудников в месяц:
      .wrap_slider_peoples
        .slider.slider_peoples
      .wrap_count_peoples
        %span.count_peoples 300 
        человек
      %input{:type => "hidden", :name => "count_peoples"} 
      %h5 Приблизительная стоимость:
      .price 
        %big 18 500
        руб./мес.
    
    .send_line
      %a{:href => ""} 
        %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 
    
    .overlay#overlay1.hiden
      .form.std_form
        %a.close{:href => ""} 
        %h4 Заявка
        %h5 на бухгалтерские услуги
        .field
          %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
        .field
          %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
        .field
          %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
        .field
          %textarea{:placeholder => "Комментарий", :name => 'comment'}
        %p * Обязательно к заполнению 
        .field 
          %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'