/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 

  %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 
    %input{:type => "hidden", :name => "sro", :value => '1'}

    %h2 
      %span Допуск с СРО

    .sro
      .col 
        .title
        .label Вступительный взнос
        .label Членский взнос
        .label Компенсационный фонд
        .label Страховка за год 
        .label.sum Итого
      .col 
        .title 
          %input{:type => "radio", :name => "type", :value => "Вступление в СРО строителей", :checked => true} 
          Вступление в СРО строителей
        .price 4 000 руб.
        .price 
          3 500 руб.
          %p в месяц (если оплачиваете за год, если ежемесячно - 4 000 руб.)
        .price 
          300 000 руб.
          %p (сумма по генподряду – каждый договор не более 10 000 000 руб. если необходимо больше, уточняйте по телефону)
        .price от 3 600 руб.
        .price.sum
          от 311 100 руб.
      .col 
        .title 
          %input{:type => "radio", :name => "type", :value => "Вступление в СРО проектировщиков"} 
          Вступление в СРО проектировщиков
        .price 4 000 руб.
        .price 
          3 500 руб.
          %p в месяц (если оплачиваете за год, если ежемесячно - 4 000 руб.)
        .price 
          150 000 руб.
          %p (сумма по генппроектированию – каждый договор не более 5 000 000 руб. если необходимо больше, уточняйте по телефону)
        .price от 3 600 руб.
        .price.sum 
          от 318 600 руб.
      .col 
        .title 
          %input{:type => "radio", :name => "type", :value => "Вступление в СРО изыскателей"} 
          Вступление в СРО изыскателей
        .price 4 000 руб.
        .price 
          &mdash;
        .price 150 000 руб.
        .price от 3 600 руб.
        .price.sum 
          от 157 600 руб.
      .clear

    .send_line
      %a{:href => ""} 
        %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}

    .overlay#overlay1.hiden
      .form.std_form
        %a.close{:href => ""} 
        %h4 Заявка
        %h5 на допуск с СРО
        .field
          %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
        .field
          %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
        .field
          %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
        .field
          %textarea{:placeholder => "Комментарий", :name => 'comment'}
        %p * Обязательно к заполнению 
        .field 
          %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'